.recommendations-container {
    padding: 20px;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    background-color: #f9f9f9;
    /* Fondo claro para el contenedor */
    border-radius: 10px;
    /* Bordes redondeados */
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    /* Sombra suave */
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 2em;
    color: #333;
}

h2 {
    text-align: left;
    margin: 20px 0 10px;
    font-size: 1.5em;
    color: #555;
}

.button-container {
    display: flex;
    gap: 10px;
    /* Espacio entre los botones */
    margin-bottom: 10px;
    /* Espacio debajo de los botones */
}

button {
    background-color: #0056b3;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 1em;
    transition: background-color 0.3s ease;
    display: inline-block;
    /* Asegurarse de que el botón no ocupe todo el ancho */
}

button:hover {
    background-color: #007bff;
}

.delete-button {
    background-color: #dc3545;
}

.delete-button:hover {
    background-color: #c82333;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    justify-content: center;
    width: 100%;
    overflow: visible;
}

.index-box {
    width: 100%;
    max-width: 200px;
    height: auto;
    padding: 15px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.index-box:hover {
    transform: translateY(-5px);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.logo {
    width: 100%;
    height: auto;
    max-height: 120px;
    object-fit: cover;
    margin-bottom: 10px;
    border-radius: 8px;
}

.form-group {
    display: grid;
    grid-template-columns: 1fr;
}

.form-group p {
    color: #555;
    font-size: 0.9em;
}

.form-group strong {
    color: #222;
}

.error {
    color: red;
    text-align: center;
    font-size: 1em;
    margin-bottom: 15px;
}